<app-header></app-header>

<div class="container">
  <h2>Listagem de Filmes</h2>
  <div class="form">
    <form>
      <input type="text">
      <a class="boton busca" href="#">Buscar</a>
    </form>
  </div>

  <div class="portadas listagem">
    <div *ngFor="let movie of movies">
      <table>
        <thead>
          <tr><strong>Titulo:</strong>{{movie.title}} <br></tr>
        </thead>
        <tbody>
          <tr>
            <td><img class="editPortada" src="{{movie.portada}}" alt=""></td>
            <td>
          <tr> <strong>ano:</strong> {{movie.ano}} </tr>
          <tr> <strong>Categoria:</strong>  {{movie.Categoria}} </tr>
          <tr> <strong>Duração:</strong>  {{movie.duracao}} </tr>
          <tr> <strong>Descripção:</strong>  {{movie.descripcao}}  </tr>
          </td>
          <td>
            <tr>
              <td> <a (click)="editarMovie(movie.id)"><img class="tamanhoIcon" src="../assets/img/editar.png" alt=""></a></td>
            </tr>
            <tr>
              <td><a (click)="borrarMovie(movie.id)"><img class="tamanhoIcon" src="../assets/img/bin.png" alt=""></a></td>
            </tr>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>