table {
    width: 100%;
    display:block;
    border-collapse: collapse;
}
thead {
    display: inline-block;
    width: 99%;
    padding-left: 1%;
    height: 30px;
    background-color: rgb(231, 217, 214);
}
tbody {
    display: inline-block;
    width: 100%;
    background-color: rgb(240, 233, 221);
}

tr {
    display: inline-block;
    width: 95%;
    padding-left: 10px;
    text-overflow: ellipsis;
    text-align: justify;
}


td:first-child{ 
    width: 13%;  
    text-align: center;
}
.tamanhoIcon {
    width: 30px;
    height: 30px;
    align-items: left;
  }

.listagem {
    overflow:auto;
    display:block;
}

.editPortada {
    width: 100px;
    height: 120px;
}
