menu {
  
  margin: 0 auto;
  display: flex;
  position:fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #535351;      
  border-bottom: 4px solid rgb(129, 29, 12);
  
}

menu ul {
  color: white;
  list-style: none;
}

menu ul li {
  float: left;
  padding-right: 20px;
  padding-bottom: 0px;
}

menu ul li a {
  text-decoration: none;
  color: white;
  line-height: 1rem;
}

menu ul li a:hover {
  color: rgb(129, 29, 12);
}

