<app-header></app-header>
<div class="container">
  <h2>Ediçao de Filme: tempo</h2>
  <div class="edicao">

    <form action="">
      <div>
        <label><strong>Titulo</strong> </label>
        <input type="text" value="{{movie.title}}" name="titulo"  >
      </div>
      <div>
        <label><strong>Imagem:</strong> </label>
        <input type="file" class="file-button" value="{{movie.portada}}" name="imagensubida" accept="image/png, .jpeg, .jpg, image/gif">
      </div>
      <div>
        <label><strong>Categoria</strong></label>
          <select>
            <option *ngFor="let categoria of categorias" [value]="categoria.categoria">
              {{ categoria.categoria }}
            </option>
          </select>


      </div>
      <div>
        <label><strong>Duracao</strong> </label>
        <input type="number" value="{{movie.tempo}}" name="duracion" placeholder="colocar tempo em minutos">
      </div>
      <div>
        <label><strong>Synopsis</strong> </label>
        <textarea name="Synopsis" value="{{movie.descripcao}}" cols="40" rows="5"></textarea>
      </div>
      <div>
        <a class="boton busca" (click)="volver()">Cancelar</a>
        <a class="boton busca" (click)="salvarDados()">Salvar</a>
      </div>

    </form>
  </div>
</div>