<app-header></app-header>
<div class="container">
    <div><h2>Bem-vindo:{{ email}}</h2></div>
    
    <div class="form">
        <form>
            <input type="text">
            <a class="boton busca" href="#">Buscar</a>
        </form>
    </div>
    <div><h2>Mas populares</h2></div> 
    <div class="errors" *ngIf="hasErrors">
      <p *ngFor="let error of errors">{{ error }}</p>
    </div>
    <div class="portadas home">
        <div *ngFor="let movie of movies">
          <img class="imgPortada" src="{{movie.portada}}" alt="">
          <p><strong>{{movie.title}} </strong><br>{{movie.ano}}</p>
        </div>
      </div>
  </div>
<app-footer></app-footer>