/* You can add global styles to this file, and also import other style files */
html,body{
  height:100%;
  width:100%;
  margin: 0px;
  background: url(src/assets/img/palomitas.jpg) no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;

}
